body {
  font-family: sans-serif;
  max-width: 400px;
  margin: 50px auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  display: block;
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
}

a:hover {
  background-color: #45a049;
}

button {
  padding: 2px 10px;
  background-color: #506df2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #324fd1;
}