<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <ApplicationSetting>
    <add key="UserID" value="admin" />
    <!-- 1:English, 2:Japanese, 3:Chinese -->
    <add key="LanguageIndex" value="2" />
    <add key="XmlDirectory" value="C:\GEFramework\Common\Designer\design" />
    <add key="PdfDirectory" value="C:\GEFramework\Common\Designer\pdf" />
    <add key="ImageDirectory" value="C:\GEFramework\Common\Designer\image" />
    <add key="FontFileDirectory" value="C:\GEFramework\Common\Designer\fontfile" />
    <add key="PdfMaxCount" value="5" />
  </ApplicationSetting>
</configuration>