@CHARSET "UTF-8";
/* Copyright 2014-2022 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA 拡張スタイル
 * Theme : redmond
 * ------------------------------------------------
 *
 * @author KCCS kikuchi 2014/07/07
 * @since 3.14.0
 */
/***********************************************/
/* geex.css*/
/***********************************************/
/*! jQuery UI - v1.13.0 - 2021-12-13
* http://jqueryui.com
* Includes: draggable.css, core.css, resizable.css, selectable.css, sortable.css, accordion.css, autocomplete.css, menu.css, button.css, controlgroup.css, checkboxradio.css, datepicker.css, dialog.css, progressbar.css, selectmenu.css, slider.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=redmond&cornerRadiusShadow=8px&offsetLeftShadow=-8px&offsetTopShadow=-8px&thicknessShadow=8px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=aaaaaa&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=aaaaaa&iconColorError=cd0a0a&fcError=cd0a0a&borderColorError=cd0a0a&bgImgOpacityError=95&bgTextureError=glass&bgColorError=fef1ec&iconColorHighlight=2e83ff&fcHighlight=363636&borderColorHighlight=fad42e&bgImgOpacityHighlight=55&bgTextureHighlight=flat&bgColorHighlight=fbec88&iconColorActive=f9bd01&fcActive=e17009&borderColorActive=79b7e7&bgImgOpacityActive=100&bgTextureActive=inset_hard&bgColorActive=f5f8f9&iconColorHover=217bc0&fcHover=1d5987&borderColorHover=79b7e7&bgImgOpacityHover=75&bgTextureHover=glass&bgColorHover=d0e5f5&iconColorDefault=6da8d5&fcDefault=2e6e9e&borderColorDefault=c5dbec&bgImgOpacityDefault=85&bgTextureDefault=glass&bgColorDefault=dfeffc&iconColorContent=469bdd&fcContent=222222&borderColorContent=a6c9e2&bgImgOpacityContent=100&bgTextureContent=inset_hard&bgColorContent=fcfdfd&iconColorHeader=d8e7f3&fcHeader=ffffff&borderColorHeader=4297d7&bgImgOpacityHeader=55&bgTextureHeader=gloss_wave&bgColorHeader=5c9ccc&cornerRadius=5px&fsDefault=1.1em&fwDefault=bold&ffDefault=Lucida%20Grande%2CLucida%20Sans%2CArial%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */
.ui-widget {
	font-family: "ＭＳ ゴシック", Lucida Grande,Lucida Sans,Arial,sans-serif;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: "ＭＳ ゴシック", Lucida Grande,Lucida Sans,Arial,sans-serif;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	font-weight: normal;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	font-weight: normal;
}
.ui-button:focus,
.ui-button:hover,
.ui-button:active {
	border: 1px solid #c5dbec;
	background: #dfeffc url("lib/jqueryui/images/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #2e6e9e;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	font-weight: normal;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: normal;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	font-weight: normal;
}
@CHARSET "UTF-8";
/* Copyright 2011-2013 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA
 * Theme : redmond
 * ------------------------------------------------
 *
 * @author H.Nishida 2011/06/17
 * @since 3.9.0
 */

/***********************************************/
/* geui.css*/
/***********************************************/
.geui-errorlevel-error { background-image: none !important; background-color: mistyrose !important; }
.geui-errorlevel-warn { background-image: none !important; background-color: lemonchiffon !important; }
.geui-errorlevel-info { background-image: none !important; background-color: mintcream !important; }

/***********************************************/
/* text/textarea/passwordのplaceholder用  */
/***********************************************/ 
.geui-placeholder-container { text-align:left; display:inline-block; position:relative; }
.geui-placeholder { text-align:left; position:absolute; top:4px; left:5px; overflow:hidden; height:70%; width:90%; font-size:100%; line-height:120%; color:#999;}
@CHARSET "UTF-8";
/* Copyright 2018- Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA
 * Theme : redmond
 * ------------------------------------------------
 *
 * @author H.Nishida 2011/06/17
 * @since 3.9.0
 */
/*#############################################*/
/* ge-richview-plain*/
/*#############################################*/
/***********************************************/
/* GPBodyTag用*/
/***********************************************/
.geui-gpbody { color:black; font-size:13px; }
/***********************************************/
/* GPAnchorTag用*/
/***********************************************/
.geui-gpanchor {}
a:link.geui-gpanchor { color: #323299; }
a:visited.geui-gpanchor { color: #000080; }
a:hover.geui-gpanchor, a:active.geui-gpanchor { color: #C71585; }
/***********************************************/
/* GPDivTag用*/
/***********************************************/
.geui-gpdiv {}
/***********************************************/
/* GPSelectTag用*/
/***********************************************/
.geui-gpselect { background-color: white; }
.geui-gpselect-readonly { opacity: 0.35; }
.geui-gpselect-disabled { opacity: 0.35; }
/***********************************************/
/* GPOptionGroupTag用*/
/***********************************************/
.geui-gpoptiongroup {}
.geui-gpoptiongroup-disabled {}
/***********************************************/
/* GPOptionTag用*/
/***********************************************/
.geui-gpoption {}
.geui-gpoption-disabled {}
/***********************************************/
/* GPImgTag用*/
/***********************************************/
.geui-gpimg {}
.geui-gpimg-disabled {}
a .geui-gpimg {border: none;}
/***********************************************/
/* GPRadioTag用*/
/***********************************************/
.geui-gpradio {}
.geui-gpradio-disabled {}
@-moz-document url-prefix() {
	.geui-gpradio:focus { outline: 1px dotted !important; }
}
/***********************************************/
/* GPTextTag用*/
/***********************************************/
.geui-gptext {}
.geui-gptext-readonly { background-image: none; background-color: #f7f7f7; }
.geui-gptext-disabled {}
/***********************************************/
/* GPLabelTag用*/
/***********************************************/
.geui-gplabel {}
.geui-gplabel-disabled {}
.geui-gplabel-multiline {white-space: pre; }
/***********************************************/
/* GPList用*/
/***********************************************/
.geui-gplist { border-collapse: collapse; white-space: nowrap; padding: 1px; }
.geui-gplist tr.ui-state-default, .geui-gplist td.ui-state-default { background-image: none !important; }
.geui-gplist .geui-gplist-caption {}
.geui-gplist .geui-gplist-header {}
.geui-gplist .geui-gplist-header .geui-gplist-header-cell { background-color:#DFEFFC; }
.geui-gplist .geui-gplist-row {}
.geui-gplist .geui-gplist-row .geui-gplist-odd-row td { background-color:#FAFDFF !important; }
.geui-gplist .geui-gplist-row .geui-gplist-even-row td { background-color:#F7FBFD !important; }
.geui-gplist .geui-gplist-row .geui-gplist-body-cell { background-color:#FAFDFF !important; }
.geui-gplist .geui-gplist-row .geui-gplist-numbercell {}
.geui-gplist .geui-gplist-row .geui-gplist-linkednumbercell {}
.geui-gplist .geui-gplist-row .geui-gplist-linkednumbercell-link {}
a:link.geui-gplist-linkednumbercell-link { color: #323299; }
a:visited.geui-gplist-linkednumbercell-link { color: #000080; }
a:hover.geui-gplist-linkednumbercell-link, a:active.geui-gplist-linkednumbercell-link { color: #C71585; }
.geui-gplist .geui-gplist-footer {}
.geui-gplist .geui-gplist-footer .geui-gplist-footer-cell { background-color:#DFEFFC; }

.geui-gplist-pager {}
.geui-gplist-pager .geui-gplist-pagination .geui-gplist-currentpage { cursor: default; color: #f89be6; font-weight: bold; }
.geui-gplist-pager .geui-gplist-pagination .geui-gplist-pagelink { cursor: pointer; margin-left:2px; width: 14px; margin-right:2px; color: inherit; text-decoration: inherit;}
.geui-gplist-pager .geui-gplist-pagination .geui-gplist-pagelink:hover { text-decoration:underline; color: pink; }
.geui-gplist-pager .geui-gplist-splitter {}

.geui-gplsit-block {}
.geui-gplist-block .geui-gplist-hscrollblock        { margin:0px; padding:0px; border:none; overflow-y:hidden; overflow-x:scroll; }
.geui-gplist-block .geui-gplist-caption-scrollblock { margin:0px; padding:0px; border:none; overflow-y:hidden; overflow-x:hidden; }
.geui-gplist-block .geui-gplist-caption-table {}
.geui-gplist-block .geui-gplist-header-scrollblock { margin:0px; padding:0px; border:none; overflow-y:hidden; overflow-x:hidden; }
.geui-gplist-block .geui-gplist-header-scrollblock .geui-gplist-header-table { word-break:break-all; word-wrap:break-word; }
.geui-gplist-block .geui-gplist-header-scrollblock .geui-gplist-header-table td { white-space:normal; }
.geui-gplist-block .geui-gplist-row-scrollblock    { margin:0px; padding:0px; border:none; overflow-y:scroll; overflow-x:hidden;}
.geui-gplist-block .geui-gplist-row-scrollblock    .geui-gplist-row-table { word-break:break-all; word-wrap:break-word; }
.geui-gplist-block .geui-gplist-row-scrollblock    .geui-gplist-row-table td { white-space:normal; }
.geui-gplist-block .geui-gplist-footer-scrollblock { margin:0px; padding:0px; border:none; overflow-y:hidden; overflow-x:hidden; }
.geui-gplist-block .geui-gplist-footer-scrollblock .geui-gplist-footer-table { word-break:break-all; word-wrap:break-word; }
.geui-gplist-block .geui-gplist-footer-scrollblock .geui-gplist-footer-table td { white-space:normal; }
.geui-gplist-block .geui-gplist-hscrollbar         { margin:0px; padding:0px; border:none; overflow-y:hidden; overflow-x:scroll; }
.geui-gplist-block .geui-gplist-hscrollbar .geui-gplist-hscrollbar-content { margin:0px; padding:0px; border:none; }
/* tableの罫線が消えるfirefoxのバグに対処。firefoxのみに適用させる。 */
@-moz-document url-prefix() {
	.geui-gplist {
		background-color: #c5dbec !important;
	}
	.geui-gplist-caption, .geui-gplist-header-cell, .geui-gplist-row-cell, .geui-gplist-footer-cell {
		background-clip: padding-box !important;
	}
 }
/***********************************************/
/* GPCheckBox用*/
/***********************************************/
.geui-gpcheckbox {}
.geui-gpcheckbox-readonly {}
.geui-gpcheckbox-disabled {}
/***********************************************/
/* GPButton用*/
/***********************************************/
.geui-gpbutton {}
.geui-gpbutton-disabled {}
.geui-gpbutton:focus { border: 1px solid #79b7e7; background: #d0e5f5 url("lib/jqueryui/images/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-x; color: #1d5987; }
/***********************************************/
/* GPTextarea用*/
/***********************************************/
.geui-gptextarea {}
.geui-gptextarea-readonly { background-image: none; background-color: #f7f7f7; }
.geui-gptextarea-disabled {}
/***********************************************/
/* GPPassword用*/
/***********************************************/
.geui-gppassword {}
.geui-gppassword-readonly { background-image: none; background-color: #f7f7f7; }
.geui-gppassword-disabled {}
/**********************************************************
/* GPForm用*/
/**********************************************************/
.geui-gpform {}
/***********************************************/
/* GPRadioOption用*/
/***********************************************/
.geui-gpradiooption {}
.geui-gpradiooption-readonly {}
.geui-gpradiooption-disabled {}
@-moz-document url-prefix() {
	.geui-gpradiooption:focus { outline: 1px dotted !important; }
}
/***********************************************/
/* GPLinkedLabel用*/
/***********************************************/
.geui-gplinkedlabel {}
.geui-gplinkedlabel-disabled {}
a:link.geui-gplinkedlabel { color: #323299; }
a:visited.geui-gplinkedlabel { color: #000080; }
a:hover.geui-gplinkedlabel, a:active.geui-gplinkedlabel { color: #C71585; }
/***********************************************/
/* GPMenuLinkedLabel用*/
/***********************************************/
.geui-gpmenulinkedlabel {}
.geui-gpmenulinkedlabel-disabled {}
a.geui-gpmenulinkedlabel , a:link.geui-gpmenulinkedlabel, a:visited.geui-gpmenulinkedlabel { text-decoration: underline; }
a:link.geui-gpmenulinkedlabel { color: #323299; }
a:visited.geui-gpmenulinkedlabel { color: #000080; }
a:hover.geui-gpmenulinkedlabel, a:active.geui-gpmenulinkedlabel { color: #C71585; }
/***********************************************/
/* GPLinkedImg用*/
/***********************************************/
.geui-gplinkedimg{}
.geui-gplinkedimg-disabled{}
.geui-gplinkedimg-img{}
a .geui-gplinkedimg-img{border: none;}
.geui-gplinkedimg-img-disabled{}
/***********************************************/
/* GPErrorDialogAnchor用*/
/***********************************************/
.geui-gperrordialoganchor, .ui-widget .geui-gperrordialoganchor { font-size: large; font-weight: bold; color: blue }
@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grerrorprovider コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @author yamashita 2011/06/25
 * @since 3.9.0
 */
/***********************************************/
/* geui.grdate*/
/***********************************************/
.geui-grdate {}
.geui-grdate-readonly{
	 background-image: none;
	 background-color: #f7f7f7;
}
.geui-grdate-label{}
.geui-grdate-disabled{}

@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grdialog コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @create 2011/08/28
 * @author yamashita
 * @since 3.9.0
 */
/***********************************************/
/* geui.grdialog*/
/***********************************************/
.geui-grdialog {}

@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grzoomdialog コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @create 2011/08/28
 * @author yamashita
 * @since 3.9.0
 */
/***********************************************/
/* geui.grzoomdialog*/
/***********************************************/
.geui-grzoomdialog {}

@CHARSET "UTF-8";
/* Copyright 2011-2015 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grerrorprovider コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @author yamashita 2011/06/25
 * @since 3.9.0
 */
/***********************************************/
/* geui.grerrordialog*/
/***********************************************/
.geui-grerrordialog {}
.geui-grerrordialog .geui-grerrordialog-label { font-size: large; font-weight: bold; color: blue }
.ui-dialog .geui-grerrordialog-content {}
.ui-dialog .geui-grerrordialog-content-titlebar { background-color: #cc6600; background-image: none; border: medium none #cc6600; }
@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grerrorprovider コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @author yamashita 2011/06/25
 * @since 3.9.0
 */
/***********************************************/
/* geui.grerrorlabel*/
/***********************************************/
.geui-grerrorlabel { color: red; }
@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grerrorprovider コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @author yamashita 2011/06/25
 * @since 3.9.0
 */
/***********************************************/
/* geui.grerrorpanel*/
/***********************************************/
.geui-grerrorpanel { color: red; }
@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grcustomindicator コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @author yamashita 2011/06/25
 * @since 3.9.0
 */
/***********************************************/
/* geui.grerrordialog*/
/***********************************************/
.geui-grcustomindicator { z-index: 1000; }

@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grimgindicator コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @author yamashita 2011/06/25
 * @since 3.9.0
 */
/***********************************************/
/* geui.grimgindicator*/
/***********************************************/
.geui-grimgindicator { z-index: 1000; }
.geui-grimgindicator-img{}

@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grsnumber コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @create 2011/06/10
 * @author kobayashi
 * @since 3.9.0
 */
/***********************************************/
/* geui.grsnumber*/
/***********************************************/
.geui-grsnumber {}
.geui-grsnumber-readonly { background-image: none; background-color: #f7f7f7; }
.geui-grsnumber-disabled {}
.geui-grsnumber-label {}

@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grstext コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @create 2011/06/10
 * @author kobayashi
 * @since 3.9.0
 */
/***********************************************/
/* geui.grstext*/
/***********************************************/
.geui-grstext {}
.geui-grstext-readonly { background-image: none; background-color: #f7f7f7; }
.geui-grstext-disabled {}
.geui-grstext-label {}

@CHARSET "UTF-8";
/* Copyright 2011 Kyocera Communication Systems Co., Ltd All rights reserved.
 *------------------------------------------------
 * GreenEARTH Framework CSS Library
 * RIA geui.grsystemerror コンポーネント
 * Theme : redmond
 * ------------------------------------------------
 *
 * @create 2011/06/29
 * @author H.Nishida
 * @since 3.9.0
 */
/***********************************************/
/* geui.grsystemerror*/
/***********************************************/
.geui-grsystemerrordialog {}
.ui-dialog .geui-grsystemerrordialog-content-titlebar { background-color: #ff0000; background-image: none; border: medium none #ff0000; }
